.fondo{
    background-color: #7e7ea0f1;
}
form {
    margin:15px auto;
    width: 300px;
    background-color: white;
    padding: 10px;
    border-radius: 18px;
}
.cuadros{
    border-style: solid ;
    border-color: #ccc;
    border-radius: 18px;
    width: 100%;
   
} 

#boton {
    border-style: solid ;
    border-radius: 5px;
    margin: 0 auto;
    width: 100%;
}
