.fondo{
    color: white
}
.row{
	margin:0px;
    padding:0px;
    text-align: left;
    text-indent: 10px;   
}
.sangria2{
    text-indent: 10px;
}
h1, h4{
    padding-top: 60px;
    text-align: justify;
}
hr{
    background-color:#ffffff
}
.sangria{
text-indent: 40px;
}
div
{
    height: 1000px;
    padding: 0px 10px;

}
.contenido{
   
    height: 1800px;
    padding: 0px 10px;
    background-color: #333333;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 64px;
    background-color: #262494;
    position: fixed;
    overflow: auto;
}
 ul li {
    display: inline-block;
}
 li{
    float: right;
}
 ul li a{
    display: block;
    padding: 20px ;
    color: white;
    text-decoration: none;
}
 ul li a:hover{
    background-color: #6a699e86;
    color: white;
}
.redes-container{
    display: inline-block;
    position: fixed;
    width: 58px;
    height: 40px;
    right: 10px;
    top: 63px;
    padding: 4px;
    background-color: #4228b9;
    border: solid 1px #fdf9f9;
    box-shadow: 2px 5px 20px #7263b4;
}
.imagenRedes{
    padding: 3px 3px;
}
footer{
    text-align: center;
    background-color: #333333;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 16px;
}

 .piePagina
 {
    font-size: 20px;
    display: inline;
    color: rgba(173, 171, 171, 0.842);
    font-size: medium;
 }